body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
}

.flex-container {
  display: flex;
}

.header {
  justify-content: space-between;
  align-items: center;
}

.section-blue {
  background-color: #2c3e50;
  padding: 25px;
}

.nav-header {
  margin: 0 20px 0 0;
}

.item-nav {
  padding: 0 1vw;
  font-size: 20px;
  color: white;
}

.montserrat {
  font-family: Montserrat;
}

.title-header {
  font-size: 30px;
  color: white;
  padding: 0 0 0 10vw;
}

.section-green {
  background-color: #18bc9c;
  padding: 4vw 7vw 7vw;
  text-align: center;
}

.section-white {
  background-color: white;
  text-align: center;
  padding: 4vw 7vw 7vw;
}

.main-title {
  font-style: bold;
  font-size: 80px;
  color: white;
}

.profile-image {
  max-width:60vw;
  max-height:60vw;
}

.symbol {
  width: 15vw;
  text-align: center;
  border: none;
  overflow: visible;
}

.s-white {
  color: white;
  border-top: 4px solid white;
}

.s-blue {
  color: #2c3e50;
  border-top: 4px solid #2c3e50;
}

hr.symbol:after {
  font-family:"Font Awesome 5 Free";
  font-weight: 900;
  content: '\f005';
  font-size: 35px;
  padding: 8px;
  position: relative;
  top: -19px;
}

hr.s-white:after {
  background-color: #18bc9c;
}

hr.s-blue:after {
  background-color: white;
}

.symbol-black {
  color: black;    
}

.title-blue {
  font-size: 50px;
  color: #2c3e50;
  text-align: center;
}

.title-white {
  font-size: 50px;
  color: white;
  text-align: center;
}

.text-about {
  justify-content: center;
  text-align: left;
}

.functions {
  padding: 2vw 0 0;
  font-size: 25px !important;
}

.lato-20 {
  font-family: Lato;
  font-size: 20px;
  color: white;
}

.download-theme {
  border: 2px solid white;
  border-radius: 10px;
  width: 14vw;
  padding: 15px;
  color: white;
  margin: 25px auto auto;
}

.paragraph {
  padding: 0 1vw;
  width: 20vw;
  line-height: 30px;
}

.portfolio-images {
  max-width: 22vw;
  padding: 0.6vw;
}

.form {
  font-family: Lato;
  font-size: 25px;
  color: rgba(71, 71, 71, 0.7);;
  border: none;
  border-bottom: 1.5px solid rgba(168, 168, 168, 0.2);
  width: 35vw;
  padding: 25px;
  text-align: left;
  resize: none;
  outline:none;
}

.button-form {
  background-color: #18bc9c;
  padding: 17px 30px;
  border-radius: 10px;
  border: none;
}

.div-footer {
  width: 340px;
  max-height: 300px;
  text-align: center;
}

.small-white-title {
  font-size: 30px;
}

.footer {
  overflow: auto;
  justify-content: space-evenly;
  padding: 4vw;
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 10px;
}

nav.nav-header a:link, nav.nav-header a:visited, div.download-theme a:link, p.around-web a:link, p.around-web a:visited {
  text-decoration: none;
  color: white;
}

nav.nav-header a:hover, p.around-web a:hover {
  color: #18bc9c;
}

p.link-sb a:link, p.link-sb a:visited {
  text-decoration: none;
  color: #18bc9c;
}

p.link-sb a:hover {
  color: #18bc9c;
  text-decoration: underline;
}

.icon {
  margin: 5px;
  padding: 1vw;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
}